dotenv
flask
fastapi[standard-no-fastapi-cloud-cli]
psycopg[binary,pool]
pyjwt
pwdlib

langchain
langchain-groq
langchain-google-genai

deep-translator
holehe
phonenumbers
wappalyzer
pddiktipy
crawl4ai
python-toon
