dotenv
flask
fastapi[standard-no-fastapi-cloud-cli]

langchain
langchain-groq
langchain-google-genai
langchain-core
langchain-community
langgraph

deep-translator
holehe
phonenumbers
wappalyzer
python3-nmap
crawl4ai