# app
HOST=host_domain            # default "http://localhost:8080"

# google auth
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret

GOOGLE_REDIRECT_URI=URI     # default: "http://localhost:8080/auth/callback"
GOOGLE_AUTH_URL=URL         # default: "https://accounts.google.com/o/oauth2/v2/auth"
GOOGLE_TOKEN_URL=URL        # default: "https://oauth2.googleapis.com/token"
GOOGLE_USERINFO_URL=URL     # default: "https://www.googleapis.com/oauth2/v3/userinfo"

# JWT
JWT_SECRET_KEY=secret                       # to generate run `openssl rand -hex 32`
JWT_ALGORITHM=algo                          # default: "HS256"
JWT_ACSESS_TOKEN_EXPIRE_MINUTES=minutes     # default: 15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=days          # default: 7

# postgres
POSTGRES_HOST=host          # default: postgres
POSTGRES_PORT=port          # default: 5432
POSTGRES_DB=DB
POSTGRES_USER=user

# AI api key
GEMINI_API_KEY=apikey
GROQ_API_KEY=apikey

# search api key
NETLAS_API_KEY=apikey
GOOGLE_API_KEY=apikey
